@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/*GENERAL*/

:root{
  --mainColor : #0065fc;
}

* {
  margin: 10px;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: small;
}
a {
  text-decoration: none;
  color: var(--mainColor);;
}
p {
  line-height: 30px;
}

/*NAVIGATION*/

.navbar {
  display: grid;
  /* justify-content: space-between; */
  /* padding: 16px; */
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav img {
    order: 0;
}
nav a:nth-of-type(1) {
    order: 2;
}
nav a:nth-of-type(2) {
    order: 3;
}
nav a:nth-of-type(3) {
    order: 1;
}

@media screen AND (min-width:768px){
  .navbar {
    grid-template-columns: auto 100px 100px 100px;
    justify-content: inherit;
  }
}

.left {
  font-size: large;
  font-weight: bold;
  padding: 20px 0;
}

.imghead {
  width: auto;
  height: 40px; /* ici tu aplique la taille voulue */
}
input[type="text"] {
  font-weight: bold;
  border-radius: 20px;
}
input:hover {
  color: var(--mainColor);;
  font-weight: bold;
  border-radius: 20px;
}
.button_1 {
  color: #fff;
  background-color: var(--mainColor);
  border-style: none;
}

label {
  margin-right: 10px;
}

i {
  padding: 5px 10px;
  border-radius: 5px 10px;
  color: var(--mainColor);
  background-color: #deebff;
}
aside {
  margin: 20px 0;
}
form {
  margin: 20px 0;
}

ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

img {
  width: 80%;
}

.hébergements {
  background-color: #f2f2f2;
}

.populaires {
  background-color: #f2f2f2;
}

.populaires ul {
  flex-direction: row;
  flex-wrap: wrap;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*FOOTER*/
footer {
  display: flex;
  background-color: #f2f2f2;
  padding: 20px 0;
}
footer h1 {
  margin-bottom: 15px;
}

.apropos {
  margin-right: 300px;
}
.hebergements {
  margin-right: 300px;
}
.assistance {
  margin-right: 300px;
}

.stars {
    font-family: 'Font Awesome 5 Free';
}
.stars::before {
    font-weight:bold;
    color: var(--mainColor);
}
.stars::after {
    color:#d9d9d9;
    
}

.fourStars::before {
    content: "\f005 \f005 \f005 \f005";
}
.fourStars::after {
    content: "\f005";
}

.fiveStars::before {
    content: "\f005 \f005 \f005 \f005 \f005";
}

main {
    display: flex;
}


li {
    max-width: 200px;
    background: white;
}